<html>
<head>
</head>
<body>
<div style="margin:0 auto;max-width:600px;">
    <p>Hi, </p></br>
        Your submission has been approved!
        </br></br>
        Thanks! <br>
</div>
</body>
</html>