<html>
<head>
</head>
<body>
<div style="margin:0 auto;max-width:600px;">
        <p>Hi, <%= userName %></p></br>
        Congratulations! Your submission to Scorebaord has been approved.
        </br></br>
        Thank you, <br>
        <a href=" https://github.com/chanzuckerberg/scoreboard">The Scoreboard Team</a>
</div>
</body>
</html>