<html>
<head>
</head>
<body>
<div style="margin:0 auto;max-width:600px;">
    <p>Hi, <%= userName %></p></br>
        Your submission has been approved!
        </br></br>
        Thanks! <br>
        The <%= teamName %> Team
</div>
</body>
</html>