<html>
<head>
</head>
<body>
<div style="margin:0 auto;max-width:600px;">
    <p>Hi, <%= userName %></p></br>
        How are you It's testing mail
        </br></br>
        Thanks
</div>
</body>
</html>