<html>
<head>
</head>
<body>
<div style="margin:0 auto;max-width:600px;">
    <p>Hi, <%= userName %></p></br>
    Thank you for your submission! You will receive another email once it's been reviewed.
    </br></br>
    Thanks! <br>
    The <%= teamName %> Team
</div>
</body>
</html>