<html>
<head>
</head>
<body>
<div style="margin:0 auto;max-width:600px;">
    <p>There is a new Scoreboard submission that needs to be reviewed.</p></br>
    Thank you, <br>
    <a href=" https://github.com/chanzuckerberg/scoreboard">The Scoreboard Team</a>
</div>
</body>
