/* General */
body {
	font-family: 'Muli', sans-serif !important;
}

.content {
	min-height: 700px;
}

.center-text {
	line-height: 50px;
}

.bold-text {
	font-weight: 700;
}

/* Login */
#login-section {
	margin-top: 20px;
	font-weight: 200;
}

/* Header */
.title > a, .title > a:hover, .title > a:focus {
	color: inherit;
	text-decoration: none;
}

/* Footer */
.footer {
	width: 100%;
	height: 100px;
	margin: 0px;
	margin-top: 15px;
	background-color: #000;
	color: #ffffff;
	padding: 30px 50px 0px 50px;
}

.logo-link {
	height: 50px;
	padding-right: 10px;
}

/* Tabs */
.tab.tab-selected {
	font-weight: 700;
}

.tab-content {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #eeeeee;
}

.clickable:hover {
	color: #00CCFF !important;
	cursor: pointer;
}

/* Tabs Content */

/* Challenges */
.dataset-img {
	margin: 10px 15px;
}

.challenge {
	margin-top: 25px;
}

.challenge > a, .challenge > a:hover, .challenge > a:focus {
	color: inherit;
	text-decoration: none;
}

.challenge:hover {
	background-color: #eeeeee!important;
}

/* FAQ */

.question {
	font-weight: 700;
}

.answer {
	padding-left: 10px;
}

/* Forms */
.form-group {
	margin-bottom: 20px !important;
}

#private {
	margin-top: 12px;
}

/* Challenge Data */

.algorithms {
	margin-top: 50px;
}
.algorithm {
	margin: 5px 0;
	border-left: 5px solid #00ccff;
	cursor: pointer;
}

.algorithm-selected {
	border-color: chartreuse;
}

.single-score {
	margin-top: 19px;
}
.score-span {
	background-color: #eee;
	padding: 10px;
}

.detailed-scores {
	margin-top: 10px;
}

.dataset-text {
	font-weight: 700;
	font-size: 0.75em;
}
.sort-icon {
	padding-left: 10px;
}
.dropdown-sort {
	width: 135px;
}
